/* .container {
    position: relative;
    bottom: 2rem;
    justify-content: space-around;
    padding-left: 0rem;
    
}
.content {
    display:flex;
    
}
.icons {
    display: flex;
    min-width:3.5rem;
    position: absolute;
    left:39rem;
}
.content > h4{
    position: relative;
    right:37rem;
} */

.blur{
    filter:blur(8px);
}
.nonblur{
    filter:blur(0px);
}
.content  {
    display: flex;
    justify-content: space-between;
}
.content h4{
    padding-left:2rem;
}
.search{
    display:flex;
    max-height:1.5rem;
    padding-top:1.2rem;
}
.search input{
    border:none;
    outline:none;
    border-radius:0.2rem;
}
.icons {
display:flex;
}
.icons:hover {
    cursor:pointer;
}
.icons button{
    max-height:3rem;
  border-radius: 8px;
    border-width: 0;
    color: #333333;
    background-color: #f0f0f0;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0.2rem;
    margin-top:1rem;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms ease-in-out;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.icons button:hover{
    cursor:pointer;
     background-color: #F0F4FA;
  color: #1E2F5C;
  box-shadow: 0 4px 12px rgba(43, 58, 103, 0.2);
}
.icons button:focus{

     transform: scale(0.98);
}
.icons button:active{
    outline:none;
}
.total p {
        position: absolute;
    top: 24%;
    right: 2.1%;
  
    transform: translate(50%, -50%);
    font-size: 0.8rem;
    text-align:center;
    padding-top:1rem;
    margin:0 auto;
    color: white;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:360px) {
    .search{
        display:none;
    }
}
